{% trans_default_domain 'fediplan' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('img/FediPlan32.png') }}">
    <meta property="og:title" content="FediPlan" />
    <meta property="og:description" content="{{ 'common.about_fediplan'|trans}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://plan.fedilab.app" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('img/FediPlan.png') }}" />

    <title>{% block title %}{{ rss_feed_title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9] -->
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
    <style type="text/css">
        .tab { margin-left: 13px; }
    </style>

</head>

<body>
<div id="wrap">
<div class="container" style="margin-top: 80px;" id="main_contain">
    {% block content %}{% endblock %}
</div>
</div>

<footer class="footer">
    <div class="container">
       <div class="row">
           <div class="col-md-4" style="text-align: center;">
               <img src="{{ asset('img/FediPlan.png') }}" width="80" style=" border-radius: 5%;margin-top: 10px; margin-bottom: 10px; "><br/>
               FediPlan -{{ "now"|date("Y") }}
           </div>
           <div class="col-md-4" style="margin-top: 10px; text-align: center;">
               {{ 'common.author'|trans }}: Thomas<br/>
               Mastodon: <a href="https://framapiaf.org/@fedilab" target="_blank">@Fedilab</a><br/>
               Framagit: <a href="https://framagit.org/tom79/" target="_blank">@tom79</a><br/>
               Github: <a href="https://github.com/stom79/" target="_blank">@stom79</a><br/>
           </div>
           <div class="col-md-4" style="margin-top: 10px; text-align: center;">
               {{ 'common.license'|trans }}: <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html" target="_blank">GPL 3</a><br/>
               <a href="https://framagit.org/tom79/fediplan" target="_blank">{{ 'common.source_code'|trans}}</a>
           </div>
       </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>